#foto
  width 100%
  height 300px
  background-color lightgray

#campos
  text-align left
  border bordered

.personal
  background-color #EEE
  padding 10px

.destino
  background-color #DDD
  padding 10px